@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #E9B8B1;
}

header img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    height: 20%;
    max-width: 185px;
    max-height: 145px;
    margin: 1rem auto 1rem;
}

nav h2 {
    display: flex;
    justify-content: center;
    background-color: #F4E4D5;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

main {
    background-color: white;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.div-infoClientes, 
.div-detalhesPedido, 
.div-medidas, 
.div-orcamento {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 6px;
    background-color: #B0AE99;
    padding: 2rem;
    margin: 12px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.legendas-div {
    display: flex;
    justify-content: center;
}

#input-altura, 
#input-busto, 
#input-cintura, 
#input-comprimentoBraco, 
#input-comprimentoPerna, 
#input-quadril {
    width: 30%;
    border-radius: 6px;
}

#input-telefone {
    width: 47%;
    border-radius: 6px;
}

#input-tiposServico, 
#input-tiposRoupas {
    width: 60%;
    border-radius: 6px
}
#input-email, 
#input-nomeCompleto {
    width: 90%;
    border-radius: 6px;
}

#input-descricaoPedido, 
#input-endereco {
    width: 100%;
    border-radius: 6px;
}

#input-checkboxOrcamento {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
    margin: 0px 0px 0px 5%;
}
#legenda-checkboxOrcamento {
    display: flex;
    align-items: center;
}
#input-nomeCompleto, 
#input-email, 
#input-telefone::placeholder {
    font-weight: 500;
}

button {
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #E9B8B1;
    padding: 1% 5%;
    font-size: 1.5rem;
    gap: 8px;
    margin: 12px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
button:hover {
    background-color: #d6a299;
    transition: 350ms;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

footer a:hover {
    color: #E9B8B1;
    transition: 250ms;
}