@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #E9B8B1;
}

header img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    height: 20%;
    max-width: 185px;
    max-height: 145px;
    margin: 1rem auto 1rem;
}

nav h2 {
    display: flex;
    justify-content: center;
    background-color: #F4E4D5;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

main {
    background-color: white;
}

.wrapper {
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;*/
    display: grid;
}

.div-infoClientes, 
.div-detalhesPedido, 
.div-medidas, 
.div-orcamento {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 6px;
    background-color: #B0AE99;
    padding: 2rem;
    margin: 12px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.legendas-div {
    display: flex;
    justify-content: center;
}

#input-altura, 
#input-busto, 
#input-cintura, 
#input-comprimentoBraco, 
#input-comprimentoPerna, 
#input-quadril {
    width: 30%;
    border-radius: 6px;
}

#input-telefone {
    width: 47%;
    border-radius: 6px;
}

#input-tiposServico, 
#input-tiposRoupas {
    width: 60%;
    border-radius: 6px
}
#input-email, 
#input-nomeCompleto {
    width: 90%;
    border-radius: 6px;
}

#input-descricaoPedido, 
#input-endereco,
#input-infoAdd {
    width: 100%;
    border-radius: 6px;
}

#input-checkboxOrcamento {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
    margin: 0px 0px 0px 5%;
}
#legenda-checkboxOrcamento {
    display: flex;
    align-items: center;
}

#input-descricaoPedido, 
#input-infoAdd {
    padding: 0px 0px 72px;
}
#input-nomeCompleto,
#input-telefone,
#input-email,
#input-endereco,
#input-descricaoPedido,
#input-infoAdd::placeholder {
    font-weight: 500;
    padding-left: 4px;
}

main button {
    display: flex;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #E9B8B1;
    transition: 350ms;
    padding: 1% 5%;
    font-size: 150%;
    gap: 8px;
    margin: 12px auto 0px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
button:hover {
    background-color: #d6a299;
    transition: 350ms;
}

footer {
    height: 100%;
    margin: 6rem 0px 0px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

footer a:hover {
    transition: ease-in 250ms;
}

.social-links {
    display: flex;
    background-color: #F4E4D5;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-around;
    padding-top: 6px;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #E9B8B1;
    font: 350 18px/100% 'inter', sans-serif;
    letter-spacing: 1px;
}

@media screen and (min-width: 1081px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 1080px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px){
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}